
.smi-spinner {
  /*margin: 100px auto 0;*/
  /*width: 70px;*/
  text-align: center;
  display: inline-block;
}
.smi-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: smi-sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: smi-sk-bouncedelay 1.4s infinite ease-in-out both;
}
.smi-spinner-text > div {
  width: 0.7em;
  height: 0.7em;
}
.smi-spinner-center {
  position: absolute;
  top: 50%;
  left: calc(50% - 27px);  
}
.smi-spinner .smi-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.smi-spinner .smi-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes smi-sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes smi-sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


#Voting__power {
  font-size: 0.6em;
}

.voting_weight_dollars {
  position: absolute;
  margin-left: 2rem;
  margin-top: 10px;
  width: 3rem;
  float: left;
  text-align: right;
  color: #8a8a8a;
  line-height: 2.6rem;
}

.UserProfile__tab_content_VotesTab {
  padding-bottom: 60px;
}
.UserProfile__tab_content_VotesTab .VotesTab {
  padding-bottom: 20px;
}
.UserProfile__tab_content_VotesTab .VotesTabLoadMore button {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgb(220, 220, 220);
  display: inline-block;
  cursor: pointer;
  color: rgb(119, 119, 119);
  font-size: 17px;
  padding: 10px 24px;
  text-decoration: none;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote {
  display: flex;
  align-items: center;
}
.UserProfile__tab_content_VotesTab .VotesTab .votes-container:not(.show-incoming) .vote.vote-incoming {
  display: none;
}
.UserProfile__tab_content_VotesTab .VotesTab .votes-container:not(.show-outgoing) .vote.vote-outgoing {
  display: none;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .Userpic {
  margin: 5px; 
  border: solid 1px #cacaca;
  min-width: 48px;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .vote-info {
  flex-shrink: 10; 
  max-width: calc(100% - 55px);
  display: inline-block;
  padding: 0px 10px; 
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .action {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: block;
  max-width: 100%;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .timeago {
  white-space: nowrap;
  padding: 0px;
  color: #888;
  display: inline-block;
  font-size: 0.9em;
  vertical-align: top;
  margin-top: -5px;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .vote-weight {
  white-space: nowrap;
  padding-left: 20px;
  color: #888;
  display: inline-block;
  font-size: 0.9em;
  vertical-align: top;
  margin-top: -5px;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .vote-dollar {
}

.Voting__voters_list ul.VerticalMenu {
  max-height: 350px;
  overflow-y: auto;
}
.Voting__voters_list ul.VerticalMenu li {
  display: flex;
}
.Voting__voters_list ul.VerticalMenu li span.vote-weight,
.Voting__voters_list ul.VerticalMenu li span.vote-dollar {
  padding: 0px;
  padding-top: 2px;
  padding-left: 5px;
}


.smi-show-as-grid-buttons {
  display: none;
}
@media screen and (min-width: 700px) {
  .smi-show-as-grid-buttons {
    display: block;
  }

  html.smi-show-posts-as-grid .PostsList__summaries > li {
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }
  html.smi-show-posts-as-grid .PostSummary {
    padding: 1rem 0.5rem;
    margin-bottom: 0;
    border: none;
    border-top: 1px solid #e6e6e6;
  }
  html.smi-show-posts-as-grid .PostsList__summaries > li:nth-child(1) .PostSummary,
  html.smi-show-posts-as-grid .PostsList__summaries > li:nth-child(2) .PostSummary,
  html.smi-show-posts-as-grid .PostsList__summaries > li:nth-child(3) .PostSummary {
    border-top: none;
  }
  html.smi-show-posts-as-grid .PostSummary .show-for-small-only {
    display: block !important;
  }
  html.smi-show-posts-as-grid .PostSummary .show-for-medium {
    display: none !important
  }
  html.smi-show-posts-as-grid .PostSummary .VotesAndComments {
    display: block;
    width: auto;
    float: right;
  }
  html.smi-show-posts-as-grid .PostSummary.with-image .PostSummary__reblogged_by .Icon.reblog {
    margin-left: -22px;
  }
  html.smi-show-posts-as-grid .PostSummary__image {
    float: none;
    margin-top: 0.5rem;
    background-size: contain;
    display: block;
    width: 100%;
    height: 10rem;
  }
  html.smi-show-posts-as-grid .PostSummary__body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    text-overflow: initial;
    padding-bottom: 0.3rem;
  }
  html.smi-show-posts-as-grid .PostSummary__body a {
    display: block;
  }
  html.smi-show-posts-as-grid .PostSummary.with-image .PostSummary__reblogged_by,
  html.smi-show-posts-as-grid .PostSummary.with-image .PostSummary__content {
    margin-left: 0;
  }
  html.smi-show-posts-as-grid .PostSummary__footer {
    font-size: 0.85em;
  }
  html.smi-show-posts-as-grid .PostSummary__footer .Voting, .PostSummary__footer .Voting__inner {
    border-right: none;
  }
  html.smi-show-posts-as-grid .PostSummary__time_author_category {
    margin-left: 0;
    border-left: 1px solid #cacaca;
  }
  html.smi-show-posts-as-grid .PostSummary__time_author_category .Reblog__button {
    margin-right: 0px;
    padding-right: 0px;
    border-right: none;
  }

  .smi-show-as-grid-buttons a {
    padding-right: 10px;
  }

  .list-grid-toggle {
    width: 24px;
    height: 24px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    display: inline-block;
    margin-top: 9px;
  }
  .list-grid-toggle .label {
    display: none;
  }
  .list-grid-toggle .icon {
    width: 24px;
  }
  .list-grid-toggle .icon-bar {
    position: relative;
    width: 24px;
    height: 6px;
    margin: 0 auto 2px auto;
    background: #ddd;
  }
  .list-grid-toggle .icon-bar:last-child {
    margin-bottom: 0;
  }
  .list-grid-toggle .icon-bar:before,
  .list-grid-toggle .icon-bar:after { 
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background: #ddd;
    content: '';
    opacity: 0;
  }
  html.smi-show-posts-as-grid .smi-show-as-grid-button .list-grid-toggle .icon-bar,
  html.smi-show-posts-as-grid .smi-show-as-grid-button .list-grid-toggle .icon-bar:before,
  html.smi-show-posts-as-grid .smi-show-as-grid-button .list-grid-toggle .icon-bar:after { 
    background: #8a8a8a;
  }
  html:not(.smi-show-posts-as-grid) .smi-show-as-list-button .list-grid-toggle .icon-bar,
  html:not(.smi-show-posts-as-grid) .smi-show-as-list-button .list-grid-toggle .icon-bar:before,
  html:not(.smi-show-posts-as-grid) .smi-show-as-list-button .list-grid-toggle .icon-bar:after { 
    background: #8a8a8a;
  }
  .list-grid-toggle .icon-bar:before {
    left: -12px;
  }
  .list-grid-toggle .icon-bar:after {
    right: -12px;
  }
  .list-grid-toggle .icon-grid .icon-bar {
    width: 6px;
  }    
  .list-grid-toggle .icon-grid .icon-bar:before,
  .list-grid-toggle .icon-grid .icon-bar:after {
    opacity: 1;
  }
  .list-grid-toggle .icon-grid .icon-bar:before {
    left: 0;
    transform: translateX(-9px);
  }
  .list-grid-toggle .icon-grid .icon-bar:after {
    right: 0;
    transform: translateX(9px);
  }
}


.switch-field {
  display: inline-block;
  overflow: hidden;
}
.switch-title {
  margin-bottom: 6px;
}
.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.switch-field label {
  float: left;
}
.switch-field label {
  display: inline-block;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 0px 14px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);  
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}
.switch-field label:hover {
  cursor: pointer;
}
.switch-field input:checked + label {
  background-color: #1a5099;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}


.smi-posts-histogram-container {
  position: relative;
  width: 100%;
  border-bottom: solid 1px #aaa;
  padding-bottom: 12px;
  margin-bottom: 20px;
}
.smi-posts-histogram-container .smi-posts-histogram-title {
  text-align: center;
}  
.smi-posts-histogram-container .smi-posts-histogram-legend {
    font-size: 0.8em;
    font-weight: 300;
}
.smi-posts-histogram-container .smi-posts-histogram-legend > span {
  margin-left: 20px;
  display: inline-block;
  height: 8px;
  width: 15px;
  margin-bottom: 0px;
  margin-right: 2px;
  border: solid 1px;
}

.chartWrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;  
  pointer-events:none;
  background: white;
}
.chartAreaWrapper {
  overflow-x: scroll;
  position: relative;
  width: 100%;
}
.chartAreaWrapper2 {
  position: relative;
  height: 200px;
}

.smi-posts-histogram-posts-container {
  position: absolute;
  width: 100%;
  margin-top: 15px;
  z-index: 200;
}
.smi-posts-histogram-posts-container2 {
  position: relative;
  border-radius: 3px;
  max-width: 56rem;
  box-shadow: 0 0 5px 0 #404040;
  background: white;
  padding: 20px;
  margin: 0 auto;
}
.smi-posts-histogram-posts-container2 h5 {
  margin-bottom: 22px;
}
.smi-posts-histogram-posts-container .close-button {
  top: -3px;
  right: -8px;
}
.smi-posts-histogram-posts-list {
  max-height: 900px;
  max-height: calc(100vh - 480px);
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 60px;
}



.smi-followers-table-wrapper .dataTables_length select {
  width: 100px;
  display: inline-block;
}
.smi-followers-table-wrapper .dataTables_filter input {
  width: 200px;
  display: inline-block;
}
.smi-followers-table-wrapper .dataTables_length,
.smi-followers-table-wrapper .dataTables_filter {
  padding-bottom: 10px;
}
.smi-followers-table-wrapper .Userpic {
  margin: 0px;
  margin-right: 10px;
  border: solid 1px #cacaca;
  min-width: 32px;
  width: 32px;
  height: 32px;
}

